* {
    al:                              #090909ff;
    bg:                              #090909ff;
    se:                              #121212ff;
    fg:                              #ffffffff;
    ac:                              #7ed491ff;
}
