* {
    al:                              #161821ff;
    bg:                              #161821ff;
    se:                              #0f111aff;
    fg:                              #ffffffff;
    ac:                              #a3b8efff;
}
