* {
  bg: #0F111A;
  fg: #fff;
  blue: #88c0d0;
  font: "Dank Mono 12";
  background-color: @bg;
  text-color: @fg;
  width: 350px;
  columns: 1;
  lines: 10;
  padding: 2px;
}

#element selected {
  background-color: @blue;
  text-color: @bg;
}
